<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</di>

<nav class="page-nav">
  <%= link_to t('books.show.edit'), edit_book_path(@book) %> |
  <%= link_to t('shared.back_to_books'), books_path %>
  <%= button_to t('books.show.destroy'), @book, method: :delete %>
</nav>
