<%= form_with model: [@book, @comment] do |form| %>
  <%= render 'shared/errors', model: @comment %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
