<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:created_by) %>:</strong>
    <%= report.user.name.present? ? report.user.name : report.user.email %>
  </p>

  <p>
    <%= Report.human_attribute_name(:created_at) %>:
    <%= I18n.l(report.created_at, format: :short) %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= report.content %>
  </p>
</div>
