<p style="color: green"><%= notice %></p>

<%= render @report %>

<div>
  <% if current_user == @user %>
    <%= link_to "Edit this report", edit_report_path(@report) %> |
  <% end %>
  <%= link_to "Back to reports", user_reports_path(@user) %>
  <% if current_user == @user %>
    <%= button_to "Destroy this report", @report, method: :delete %>
  <% end %>
</div>
